html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  color: #000;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
}
.dimmed_on {
  overflow: hidden;
}
.dimmed {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 80;
  height: 960px;
  background-color: #242424
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}
.inner_large {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 70px;
}
.inner_middle {
  max-width: 1200px;
  margin: 0 auto;
}
.img_meanless {
  display: block;
  background-repeat: no-repeat;
  background-position: left top;
}