a {
  text-decoration: none;
}
img {
  display: block;
}
button {
  padding: 0;
  border: none;
  background: none;
  -webkit-appearance: none;
}

.ir_pm {
  display: block;
  overflow: hidden;
  position: relative;
  font-size: 1px;
  line-height: 0;
  text-indent: -9999px;
}
.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}